/* 컨텐츠 영역 */
.content-box {
    box-sizing: border-box;
    padding-top: 80px;
    height: 100vh;
    background: #fff;
}
.content-box .con {
    height: 100%;
}
.content-box .ex-text {
    font-size: 40px;
    white-space: nowrap;
}

.survey-question-contents {
    padding-top: 36px;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}