/* 컨텐츠 영역 */
.content-box {
    box-sizing: border-box;
    padding-top: 80px;
    height: 100vh;
    background: #fff;
}
.content-box .con {
    height: 100%;
}
.content-box .ex-text {
    font-size: 40px;
    white-space: nowrap;
}