* {
    padding: 0;
    margin: 0;
}


.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container * {
    margin: 10px;
    color: #fce4ec;
}

.container h1 {
    font-size: 3em;
}
.weatherInfo {
    font-size: 1.5em;
}

.wtr-res {
    margin: 60px auto ;
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
    width: 80%;
    height: 50px;
    background-color: #23b6b8;
}

.wtr-st {
    font-size: 24px;
    font-weight: 500;
}

.wtr-ex {
    font-size: 20px;
    font-weight: 400;
}

.wtr-mgt {
    margin-top: 10px;
}

.wtrmg {
    margin-top: 30px
}

.wtr-font {
    font-size: 24px;
    font-weight: 600;
}


